* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* COLOR */
.header-divider {
  background-color: white;
}
body {
	background-color: white;
}
.page-content {
  background-color: white;
}
.navbar, .footer {
	background-color: #1B5F76; /*dark teal boi*/
	color: white;
}

/* FONT */
body {
	font-family: "Century Gothic", "Arial", sans-serif;
  background-image: url("/media/background-pattern.png");
}
.soda-barn-header, h1 {
  font-family: "Bahnschrift Condensed", sans-serif;
}

/* SIZING */
body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
.page-centerer {
  flex: 1;

  display: flex;
  flex-direction: column;
}
.soda-barn-header {
	padding: 0.5em 0 0 0;
}
.navbar, .footer {
	height: auto;
	min-height: 4em;
	width: 100%;
}
.page-content {
  /*min-height: 78.5vh;*/
  flex: 1;

  padding-top: 2em;
	padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 600px) {
	.page-content {
    padding-top: 4em;
  	padding-bottom: 4em;
    max-width: 100vh;
    min-width: 50vw;
  }
}

/* SPECIAL NAVBAR BEHAVIOR */
.nav-item {
	margin: 0 0.5em 0 0.5em;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 100px;
	text-align: center;
}
.navbar-toggler-icon {
  background-image: url("/media/soda-barn-logo-white.png")!important;
}
.middle-logo, .middle-logo img {
  width: 0px;
  height: 0px;
}
@media only screen and (min-width: 576px) { /*this number is carefully calibrated*/
  .middle-logo {
    width: unset;
    height: unset;
  }
  .middle-logo img {
    width: 75px;
    height: unset;
  }
}
@media only screen and (min-width: 650px) {
	.middle-logo img {
    width: 125px;
  }
}

/* CENTERING */
.navbar-centerer {
  width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.page-centerer {
	width: 100%;

  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 600px) {
	.page-centerer {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* GENERAL */
.page-content {
	text-align: center;
}

@media only screen and (min-width: 900px) { /*customize this number when footer is changed*/
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.footer-item {
	margin: auto;
	text-align: center;
}
.footer-item a{
	color: white;
}
