* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* COLOR */
.soda-barn-title {
  /*background-color: #025B6D;*/ /*#0F8788;*/ /*teal*/
  /*background-image: url("/media/soda-barn-pattern.png");*/
  color: white;
	background-color: #1B5F76
}
body {
	background-color: white;
}
.navbar, .footer {
	background-color: lightgray;
	color: black;
}

/* FONT */
body {
	font-family: "Century Gothic", "Arial", sans-serif;
}
.soda-barn-title, h1 {
  font-family: "Bahnschrift Condensed", sans-serif;
}

/* SIZING */
.navbar, .footer {
	height: auto;
	min-height: 4em;
	width: 100%;
}
.page-content {
	min-height: 200px;
  
  margin-top: 4em;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 600px) {
	.page-content {
    max-width: 800px;
  }
}

/* CENTERING */
.navbar-centerer {
  width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.page-centerer {
	width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* GENERAL */
.soda-barn-title {
  font-size: 3em;
  text-align: center;
}
@media only screen and (min-width: 600px) {
	.soda-barn-title {
    font-size: 4.5em;
  }
}

.nav-item {
	margin: 0 0.5em 0 0.5em;
  min-width: 100px;
	text-align: center;
}

.page-content {
	text-align: center;
}

.footer {	
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.footer-item {
	margin: auto;
	text-align: center;
}

.github-repo {
	margin-left: 0;
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
}