* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* COLOR */
.soda-barn-header {
  /*background-image: url("/media/background-pattern.png");*/
  color: white;
	background-color:	#1B5F76;				 /*#1B5F76*/
}
.header-divider {
  background-color: white;
}
body {
	background-color: white;
}
.page-content {
  background-color: white;
}
.navbar, .footer {
	background-color: #1B5F76; /*lightgray;*/
	color: white;
}

/* FONT */
body {
	font-family: "Century Gothic", "Arial", sans-serif;
  background-image: url("/media/background-pattern.png");
}
.soda-barn-header, h1 {
  font-family: "Bahnschrift Condensed", sans-serif;
}

/* SIZING */
.soda-barn-header {
	padding: 0.5em 0 0 0;
}
.header-divider {
  width: 350px; /*this needs to be customized whenever the navbar is changed*/
  height: 1px;
  margin: auto;
  margin-top: 0.5em;
}
.navbar, .footer {
	height: auto;
	min-height: 4em;
	width: 100%;
}
.navbar-toggler {
  padding: auto;
}
.page-content {
	min-height: 200px;
  
  padding-top: 2em;
	padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 600px) {
	.page-content {
    padding-top: 4em;
  	padding-bottom: 4em;
    max-width: 800px;
  }
}

/* CENTERING */
.navbar-centerer {
  width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.page-centerer {
	width: 100%;
  
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 600px) {
	.page-centerer {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* GENERAL */
.soda-barn-header {
  font-size: 3em;
  text-align: center;
}
@media only screen and (min-width: 600px) {
	.soda-barn-title {
    font-size: 4.5em;
  }
}

.heading {
	padding-bottom: 1em;
}

.nav-item {
	margin: 0 0.5em 0 0.5em;
  min-width: 100px;
	text-align: center;
}

.page-content {
	text-align: center;
}

.footer {	
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.footer-item {
	margin: auto;
	text-align: center;
}

.footer-item a{
	color: white;
}

.hours {
	margin: 5em 0em;
  margin-bottom: 0;
}

.menu-hr {
	width: 50%;
	margin-right: auto;
  margin-left: auto;
	border-top: 2px solid #033F47;
}

h2 {
	font-size: 1.8em;
}