.location-name {
  text-align: center;
}

.location-image {
  width: 100%;
  margin-bottom: 1em;
}

.location-location {
  display: flex;
  justify-content: center;
}

.location-maps {
    margin-right: 0.5em;    
}

.location-maps-logo {
   height: 1.5em;
}

@media only screen and (min-width: 600px) {
  .location-name {
    text-align: left;
  }
  
  .location {
    display: flex;
  }

  .location-image {
    margin-right: 1em;
    margin-bottom: unset;
    width: 15em;
    height: fit-content; /*add this or picture will stretch*/
  }

  .location-info {
    text-align: left;
  }

  .location-location {
    justify-content: left;
  }

  .location-hour {
    margin-left: 1em;
  }
}